body{
    padding-top: 5%;
    
}
P
{
    font-size: 50px;
  
    padding-left: 34%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-right: auto;
    margin-left: auto;

}
input
{
   vertical-align: top;
}