body {
  background-color: #fff;
  margin: 0px auto;
}

.calbody {
  background: #6544b1;
  border: 1px solid rgb(43, 201, 43);
  padding: 10px;
  margin-left: 450px;
  min-width: 27.4em;
  max-width: 27.4em;
}

h1 {
  text-align: center;
  font-size: 40px;
  color: #0b859b;
}

#lcd {
  text-align: right;
  width: 23em;
  height: 40px;
  font-size: 18px;
}

#lcdu {
  color: grey;
  text-align: right;
  width: 27.6em;
  height: 35px;
  font-size: 15px;
}

button {
  background-color: #fff;
  width: 80px;
  height: 60px;
  font-size: 20px;
  border: 1px solid #097c9b;
}

button:hover {
  background-color: #509ca9;
}
